# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints

# Distributed / packaging
build/
dist/

# Logs
*.log

# IDEs
.vscode/
.idea/

# Data / models
pretrained_models/
*.pt
*.pth
*.ckpt

# Large files handled by Git LFS
*.wav
*.flac
*.mp4

# Mac
.DS_Store
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Visual Studio Code files
.vscode
.vs

# PyCharm files
.idea

# Eclipse Project settings
*.*project
.settings

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Editor temporaries
*.swn
*.swo
*.swp
*.swm
*~

# IPython notebook checkpoints
.ipynb_checkpoints

# macOS dir files
.DS_Store

exp
data
raw_wav
tensorboard
**/*build*

# Clangd files
.cache
compile_commands.json

# train/inference files
*.wav
*.m4a
*.aac
*.pt
pretrained_models/*
*_pb2_grpc.py
*_pb2.py
*.tar